:root {
  --color-primary-dark: #5923af;
  --color-primary-light: #fff;
  --color-primary-back: #180320;
  --color-secondary-dark: #452b6c;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
