@use "../utils/variables" as *;

.label-input {
  padding: 18px 32px;
  width: 240px;
  height: 46px;
  border: 1px solid var(--color-secondary-lightgrey);
  border-radius: 24px;
  transition-duration: 0.3s;
  color: var(--color-primary-white);
  background-color: var(--color-primary-darkblue);

  @media screen and (min-width: $bp-tablet) {
    border-radius: 32px;
    width: 310px;
    height: 52px;
  }

  &:hover {
    background-color: var(--color-secondary-lightgrey);
  }

  &::placeholder {
    color: var(--color-primary-white);
    font-weight: 400;
    font-size: 13px;
  }
}
