@use "../utils/variables" as *;

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;

  @media screen and (min-width: $bp-desktop) {
    margin-top: 32px;
    gap: 24px;
  }

  &__button {
    width: 8px;
    height: 8px;
    padding: 0;
    background-color: var(--color-secondary-lightgrey);
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;

    @media screen and (min-width: $bp-desktop) {
      width: 11px;
      height: 11px;
    }
  }

  &__button--active {
    opacity: 1;
    background-color: var(--color-primary-blue);
  }
}
