@use "../utils/variables" as *;

.text-decorate-small {
  color: var(--color-secondary-darkgrey);
  font-size: 11px;
  font-weight: 400;

  @media screen and (min-width: $bp-tablet) {
    font-size: 12px;
    text-align: center;
    margin-left: 14px;
  }
}

.text-bold {
  font-weight: 600;
  color: var(--color-primary-darkblue);
}

.decorate {
  color: var(--color-primary-blue);
}
