.menu {
  position: fixed;
  inset: 0;
  background-color: var(--color-primary);
  transform: translateX(100%);
  transition: 0.3s ease;
  z-index: 100;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.open {
  transform: translateX(0);
}

.close {
  position: absolute;
  top: 28px;
  right: 28px;
  font-size: 32px;
  color: var(--color-white);
  background: none;
  border: none;
  cursor: pointer;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 80px;
}

.links li {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--color-white);
  opacity: 70%;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.links li:hover {
  color: var(--color-white);
}

.buttons {
  display: flex;
  width: 100%;
  gap: 16px;
  padding-bottom: 16px;
}

.primary {
  background: var(--color-primary-light);
  color: var(--color-bg);
  padding: 16px;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}

.secondary {
  background: transparent;
  border: 2px solid var(--color-primary-light);
  color: white;
  padding: 16px;
  border-radius: 6px;
  font-size: 20px;
}
