.faqSection {
  padding: 40px 0;
  background-color: var(--color-white);
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-bg);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  background-color: #e8ebed;
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.active {
  background-color: var(--color-primary);
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  border: none;
  padding: 18px 16px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-bg);
  background-color: transparent;
  cursor: pointer;
}

.active .question {
  color: var(--color-white);
}

.arrow {
  transition: all 0.3s ease;
  font-size: 20px;
  opacity: 70%;
}

.arrowOpen {
  transform: rotate(180deg);
}

.answer {
  padding: 0 16px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
  color: var(--color-white);
  opacity: 90%;
}

@media (min-width: 1024px) {
  .title {
    font-size: 44px;
  }

  .question {
    font-size: 24px;
  }
}
