.footer {
  background-color: var(--color-bg);
  padding: 40px 0 20px;
}

.navBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 30px;
  opacity: 60%;
}

.navBlock span {
  margin-top: 20px;
  border: 1px solid var(--color-white);
  width: 100%;
  opacity: 60%;
}

.navTitle {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 18px;
  text-transform: uppercase;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.navList li {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s ease;
}

.navList li:hover {
  color: var(--color-primary-light);
}

.bottom {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.logo {
  width: 140px;
}

.copy {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .navBlock {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 160px;
    border: none;
  }

  .navBlock span {
    display: none;
  }

  .navList {
    flex-direction: row;
    gap: 36px;
    padding-bottom: 20px;
  }

  .bottom {
    justify-content: space-between;
    padding: 0;
  }

  .copy {
    padding-bottom: 20px;
  }
}
