.hero {
  position: relative;
  overflow: visible;
  padding: 24px 0 40px;
  margin-bottom: 0;
  background-color: var(--color-bg);
  z-index: 2;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 60%;
  height: 64px;
  background: var(--color-white);
  border-top-right-radius: 200px 300px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text h1 {
  font-size: 35px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 12px;
  color: var(--color-white);
  text-transform: uppercase;
}

.text p {
  color: var(--color-white);
  max-width: 420px;
  margin-bottom: 24px;
  font-size: 16px;
  opacity: 60%;
}

.text p:last-child {
  color: var(--color-white);
  font-size: 14px;
  opacity: 30%;
  margin-top: 12px;
}

.form {
  display: flex;
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  background-color: var(--color-secondary-dark);
  overflow: hidden;
}

.input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 14px 20px;
  color: var(--color-white);
  font-size: 15px;
  outline: none;
}

.input::placeholder {
  color: var(--color-white);
  opacity: 30%;
  text-transform: uppercase;
}

.btn {
  background: var(--color-primary-light);
  color: var(--color-bg);
  border: none;
  border-radius: 4px;
  padding: 0 28px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: transparent;
  color: var(--color-white);
  border: 0.5px solid var(--color-primary-light);
}

.imageWrap {
  order: -1;
  width: 100%;
  max-width: 470px;
}

.imageWrap img {
  width: 100%;
}

@media (min-width: 768px) {
  .inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .text h1 {
    font-size: 48px;
  }

  .imageWrap {
    order: 0;
  }

  .form {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 160px 0;
  }

  .text h1 {
    font-size: 60px;
    text-transform: uppercase;
  }

  .imageWrap {
    max-width: 480px;
  }
}
