.pricing {
  background-color: var(--color-bg);
  margin-bottom: 60px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-white);
  margin-bottom: 24px;
}

.tabs {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--color-secondary-dark);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 24px;
}

.tabs button {
  flex: 1;
  min-height: 42px;
  padding: 10px 0;
  margin: 0 6px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary-light);
  border-radius: 4px;
  background-color: transparent;
  border: none;
}

.tabs .active {
  background-color: var(--color-primary-light);
  color: var(--color-bg);
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  background-color: var(--color-bg-dark);
  border: 1px solid var(--color-primary);
  padding: 20px;
  border-radius: 8px;
}

.vip {
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.cardTitle {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.list li {
  position: relative;
  color: var(--color-white);
  font-size: 16px;
  opacity: 0.85;
}

.list li::after {
  content: "";
  position: absolute;
  width: calc(100% + 36px);
  left: -18px;
  top: 30px;
  border: 0.5px dashed var(--color-white);
  opacity: 20%;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
}

.price {
  font-size: 32px;
  font-weight: 500;
  color: var(--color-white);
}

.discount {
  position: relative;
  bottom: 6px;
  color: var(--color-secondary-green);
  font-size: 18px;
  font-weight: 500;
}

.select {
  margin-left: auto;
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
}

.button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-bg);
  background-color: var(--color-primary-light);
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.button:hover {
  border: 1px solid var(--color-primary-light);
  color: var(--color-primary-light);
  background-color: var(--color-bg);
}

.button span {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  opacity: 56%;
}

@media (min-width: 1024px) {
  .pricing {
    padding-top: 40px;
  }

  .wrapper {
    max-width: 980px;
    margin: 0 auto;
  }

  .title {
    font-size: 44px;
    text-align: left;
    margin-left: 0;
  }

  .tabs {
    width: 470px;
    margin: 20px 0 40px 0;
  }

  .tabs button {
    font-size: 24px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-height: 560px;
  }

  .cardTitle {
    font-size: 32px;
    margin-bottom: 56px;
  }

  .list {
    flex-grow: 1;
  }
}
