.form-terms {
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  width: 220px;
  height: 36px;
  color: var(--color-secondary-lightgrey);

  &__link {
    text-decoration: underline solid;
    color: var(--color-secondary-lightgrey);
  }
}
