@use "../utils/variables" as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  z-index: 1;

  @media screen and (min-width: $bp-tablet) {
    padding: 32px 0;
  }

  @media screen and (min-width: $bp-desktop) {
    background: rgba(255, 255, 255, 0.25);
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 56px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 56px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: flex-end;
    }

    @media screen and (min-width: $bp-desktop) {
      justify-content: center;
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    text-align: center;
    color: var(--color-primary-darkblue);
    transition-duration: 0.3s;

    &:hover {
      color: var(--color-primary-blue);
      transform: scale(1.05);
    }
  }

  &__socials {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }
  }

  &__socials-icon {
    transition-duration: 0.3s;
    color: var(--color-primary-darkblue);

    &:hover {
      transform: scale(1.1);
      stroke: var(--color-primary-blue);
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-white);

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
