@use "../utils/variables" as *;

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 324px;
  background: linear-gradient(
      56.68deg,
      #ffffff 20.92%,
      rgba(255, 255, 255, 0.78) 44.46%,
      rgba(255, 255, 255, 0.2) 58.9%,
      rgba(255, 255, 255, 0) 72.45%
    ),
    url(../../images/hero-section-background.jpg), center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $bp-tablet) {
    background: linear-gradient(
        89.38deg,
        #ffffff 30.62%,
        rgba(255, 255, 255, 0.850898) 41.31%,
        rgba(255, 255, 255, 0.193204) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url(../../images/hero-background.png), center;
    height: 658px;
    background-size: cover;
  }

  &__title {
    padding-bottom: 32px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 54px;
    line-height: 0.85;

    @media screen and (min-width: $bp-tablet) {
      padding-bottom: 40px;
      font-size: 140px;
      line-height: 0.8;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 110px;
      width: 530px;
      height: 410px;
    }
  }

  &__button {
    padding: 12px 24px;
    margin-bottom: 8px;

    &:hover {
      color: var(--color-primary-darkblue);
      background-color: var(--color-primary-white);
    }

    @media screen and (min-width: $bp-tablet) {
      padding: 16px 32px;
      margin-bottom: 14px;
    }
  }

  &__text {
    margin: 8px 0;
    font-size: 12px;
    color: var(--color-primary-darkblue);

    @media screen and (min-width: $bp-tablet) {
      margin: 16px 0;
      font-weight: 400;
      font-size: 18px;
    }
  }
}
