@use "../utils/variables" as *;

.procedures-section {
  &__title {
    margin: 40px 0 0 0;

    @media screen and (min-width: $bp-desktop) {
      margin: 96px 0 0 0;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
    }
  }
}
