.about {
  background: var(--color-white);
  padding: 36px 24px 130px 0;
}

.title {
  color: var(--color-bg);
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  color: var(--color-bg);
  font-size: 16px;
  font-weight: 400;
}

.promoDesktop {
  display: none;
}

.inner {
  display: block;
}

@media (min-width: 1024px) {
  .about {
    padding: 36px 24px 40px 0;
  }

  .promoDesktop {
    display: block;
    width: 820px;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 160px;
  }

  .title {
    font-size: 44px;
  }
}
