.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--color-bg);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 32px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
  gap: 24px;
  font-size: 14px;
}

.nav a {
  text-transform: uppercase;
  color: var(--color-white);
  transition: all 0.15s ease;
  cursor: pointer;
}

.nav a:hover {
  color: var(--color-primary-light);
}

.headerButton {
  display: none;
}

.loginButton {
  padding: 11px 24px;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
  border: 1.5px solid var(--color-primary-light);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.loginButton:hover {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
}

.registerButton {
  padding: 11px 24px;
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  border: 1.5px solid var(--color-primary-dark);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.registerButton:hover {
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}

.burger {
  width: 24px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger span {
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  border-radius: 3px;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav {
    display: flex;
    font-size: 16px;
  }

  .headerButton {
    display: flex;
    gap: 12px;
  }
}
