.card {
  position: relative;
  background-color: var(--color-primary);
  padding: 16px;
  border-radius: 4px;
  z-index: 10;
}

.title {
  color: var(--color-white);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.3;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px;
  font-size: 16px;
  color: var(--color-white);
  border-radius: 4px;
  outline: none;
}

.input::placeholder {
  color: var(--color-white);
  opacity: 40%;
}

.button {
  background-color: var(--color-primary-light);
  color: var(--color-bg);
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 14px 0;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-bg);
  color: var(--color-primary-light);
  border: none;
}
