* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  min-height: 100vh;
}

.calculator {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calculator__display {
  background-color: #fff;
  border-radius: 8px;
  font-size: 48px;
  padding: 30px 24px;
  text-align: right;
}

button {
  height: 80px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button[data-action="back"] {
  grid-column: 1 / span 1;
}

button[data-action="clear"] {
  grid-column: 2 / span 2;
}

button[data-action="digit"] {
  background-color: #e48900;
  color: #000;
}

button[data-action="operator"],
button[data-action="equals"],
button[data-action="clear"],
button[data-action="back"] {
  background-color: #9c949b;
  color: #fff;
}

button[data-action="equals"] {
  grid-column: span 2;
  /* height: calc(80px * 2 + 10px); */
}

button[data-value="0"] {
  grid-column: span 2;
}
