@use "../utils/variables" as *;

.contacts-section {
  &-container {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-list li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-social {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @media (min-width: $bp-tablet) {
    &-container h2 {
      text-align: left;
    }

    &-list {
      display: flex;
      flex-direction: row;
      gap: 100px;
    }
  }
}
