@use "../utils/variables" as *;

.goals-section {
  &-container {
    position: relative;
    margin-top: 60px;
  }

  &-container p {
    text-align: center;
  }

  &-container::after {
    position: absolute;
    content: "";
    border: 0.5px solid var(--color-primary-dark);
    width: 100%;
    bottom: -40px;
  }

  @media (min-width: $bp-tablet) {
    &-container h2 {
      text-align: left;
    }

    &-container p {
      text-align: left;
    }
  }
}
