@use "../utils/variables" as *;

.header {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
  }

  &-title {
    margin: 0;
  }

  &-list {
    display: none;
  }

  &-link {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (min-width: $bp-desktop) {
    &-container {
      justify-content: space-between;
    }

    &-list {
      display: flex;
      gap: 80px;
    }
  }
}
