.header {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }

  &-title {
    margin: 0;
  }

  &-list {
    display: flex;
    gap: 100px;
  }

  &-link {
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
