@use "../utils/variables" as *;

.main-section {
  position: relative;
  overflow: hidden;
  padding-top: 20px;

  &-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
    background: var(--color-accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;

    @media (min-width: $bp-tablet) {
      font-size: 48px;
    }

    @media (min-width: $bp-desktop) {
      font-size: 56px;
    }
  }

  &-content {
    width: 100%;
    padding: 0 20px;
  }

  &-container {
    display: flex;
    min-height: 400px;
    align-items: center;
    background-image: none;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h1 {
      line-height: 1.5;
      font-size: 56px;
    }

    & p {
      font-size: 16px;
    }
  }

  @media (min-width: $bp-desktop) {
    &-container {
      background-image: url(../image/main-background.png);
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: left;
      width: 700px;

      & p {
        font-size: 16px;
        padding: 0;
      }
    }
  }
}
