@use "../utils/variables" as *;

.main-section {
  &-container {
    display: flex;
    min-height: 400px;
    align-items: center;
    background-image: none;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 60px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h1 {
      line-height: 1.5;
      font-size: 56px;
    }

    & p {
      font-size: 16px;
    }
  }

  @media (min-width: $bp-desktop) {
    &-container {
      background-image: url(../image/main-background.png);
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      text-align: left;
      width: 700px;

      & h1 {
        line-height: 1.5;
        font-size: 56px;
      }

      & p {
        font-size: 16px;
        padding: 0;
      }
    }
  }
}
