@use "./utils/variables" as *;

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--color-primary-light);
  background-color: var(--color-primary-back);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.2;
  margin: 0;

  @media (min-width: $bp-tablet) {
    font-size: 18px;
    font-weight: 500;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Belgro", sans-serif;
}

p {
  margin-top: 0;
  font-size: 16px;
}

img {
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--color-primary-light);
}

address {
  font-style: normal;
}

ul,
li {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 3;
  list-style-type: none;
}
