@use "../utils/variables" as *;

.button {
  display: inline-block;
  text-align: center;
  color: var(--color-primary-light);
  background-color: var(--color-secondary-dark);
  width: 340px;
  height: 40px;
  border: 1px solid var(--color-primary-light);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 25px;

  &:hover {
    background-color: var(--color-primary-dark);
    border: none;
  }
}
